@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "swiper/css"; */
@font-face {
  font-family: 'Iransans';
  src: url('/assets/font/IRANSans-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Iransans', sans-serif;
}

